{% extends "shop/base.html" %}
{% block title %}Pay by credit card{% endblock %}

{% block content %}


    <div class="container wow fadeIn">
        <!--Grid row-->
        <div class="row">
            <!--Grid column-->
            <div class="col-md-8 mb-4">
                <!--Card-->
                <div class="card">
                    <!--Card content-->
                    <form class="card-body" id="payment" method="post">
                        
                        <!-- Heading -->
                        <h2 class="mb-5 h2 ">Pay by credit card</h2>

                        <div class="row">

                            <div class="col-md-12 mb-3">
                                <label for="cc-number">Credit card number</label>
                                <div id="card-number" class="field form-control"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="cc-expiration">Expiration</label>
                                <div id="expiration-date" class="field form-control"></div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="cc-expiration">CVV</label>
                                <div id="cvv" class="field form-control" ></div>
                            </div>
                        </div>
                        <hr class="mb-4" />
                        <input type="hidden" id="nonce" name="payment_method_nonce" value="">
                        {% csrf_token %}
                        
                        <button  class="btn btn-primary btn-lg btn-block" type="submit">
                            Pay
                        </button>
                        
                    </form>
                    <!-- includes the Braintree JS client SDK -->
                    <script src="https://js.braintreegateway.com/web/3.44.2/js/client.min.js"></script>
                    <script src="https://js.braintreegateway.com/web/3.44.2/js/hosted-fields.min.js"></script>

                    <script>
                        var form = document.querySelector('#payment');
                        var submit = document.querySelector('button[type="submit"]');

                        braintree.client.create({
                            authorization: '{{ client_token }}'
                        }, function (clientErr, clientInstance) {
                            if (clientErr) {
                                console.error(clientErr);
                                return;
                            }

                            braintree.hostedFields.create({
                                client: clientInstance,
                                styles: {
                                    'input': { 'font-size': '13px' },
                                    'input.invalid': { 'color': 'red' },
                                    'input.valid': { 'color': 'green' }
                                },
                                fields: {
                                    number: { selector: '#card-number' },
                                    cvv: { selector: '#cvv' },
                                    expirationDate: { selector: '#expiration-date' }
                                }
                            }, function (hostedFieldsErr, hostedFieldsInstance) {
                                if (hostedFieldsErr) {
                                    console.error(hostedFieldsErr);
                                    return;
                                }
                                submit.removeAttribute('disabled');

                                form.addEventListener('submit', function (event) {
                                    event.preventDefault();
                                    hostedFieldsInstance.tokenize(function (tokenizeErr,
                                        payload) {
                                        if (tokenizeErr) {
                                            console.error(tokenizeErr);
                                            return;
                                        }
                                        // set nonce to send to the server
                                        document.getElementById('nonce').value = payload.nonce;
                                        // submit form
                                        document.getElementById('payment').submit();
                                    });
                                }, false);
                            });
                        });


                    </script>

                </div>
                <!--/.Card-->
            </div>
            <!--Grid column-->


        </div>
        <!--Grid row-->
    </div>



<!--Main layout-->
{% endblock content %}