{% extends "shop/base.html" %} 
{% block title %} Checkout {% endblock %}
{% load crispy_forms_tags %}


{% block content %}


  <div class="container wow fadeIn">
    <!-- Heading -->
<!--    <h2 class="my-5 h2 text-center">Checkout form</h2>-->

    <!--Grid row-->
    <div class="row mt-5">
      <!--Grid column-->
      <div class="col-md-8 mb-4">
        <!--Card-->
        <div class="card">
          <!--Card content-->
          <form class="card-body" action="{% url 'orders:order_create'%}" method="post">
            <h2 class="h2 mb-4">Checkout form</h2>
            {{ form|crispy  }}
            <hr class="mb-4" />
            <button class="btn btn-primary btn-lg btn-block" type="submit">
              Place order
            </button>
            {% csrf_token %}
          </form>
        </div>
        <!--/.Card-->
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-md-4 mb-4">
        <!-- Heading -->
        <h4 class="d-flex justify-content-between align-items-center mb-3">
          <span class="text-muted">Order Summary</span>
          {% with total_items=cart|length %}
          <span class="badge badge-secondary badge-pill">{{ total_items }}</span>
          {% endwith %}
        </h4>

        <!-- Cart -->
        <ul class="list-group mb-3 z-depth-1">

          {% for item in cart %}

          <li
            class="list-group-item d-flex justify-content-between lh-condensed"
          >
            <div>
              <h6 class="my-0">{{ item.quantity }}x {{ item.product.name }}</h6>
<!--              <small class="text-muted">Brief description</small>-->
            </div>
            <span class="text-muted">${{ item.total_price }}</span>
          </li>

          {% endfor %}


          <li class="list-group-item d-flex justify-content-between bg-light">
            <div class="text-success">
              <h6 class="my-0">Promo code</h6>
              <small>EXAMPLECODE</small>
            </div>
            <span class="text-success">-$5</span>
          </li>
          <li class="list-group-item d-flex justify-content-between">
            <span>Total (USD)</span>
            <strong>${{ cart.get_total_price }}</strong>
          </li>
        </ul>
        <!-- Cart -->

        <!-- Promo code -->
        <form class="card p-2">
          <div class="input-group">
            <input
              type="text"
              class="form-control"
              placeholder="Promo code"
              aria-label="Recipient's username"
              aria-describedby="basic-addon2"
            />
            <div class="input-group-append">
              <button
                class="btn btn-secondary btn-md waves-effect m-0"
                type="button"
              >
                Redeem
              </button>
            </div>
          </div>
        </form>
        <!-- Promo code -->
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>

{% endblock content %}
