{% extends "shop/base.html" %} 
{% block title %} Shopping Cart {% endblock %}
{% load crispy_forms_tags %}

{% block content %}



  <div class="container wow fadeIn">
    <!-- Heading -->
    <!--    <h2 class="my-5 h2 text-center">Checkout form</h2>-->

    <!--Grid row-->
    <div class="row mt-5">
      <!--Grid column-->
      <div class="col-md-8 mb-4">
        <!--Card-->
        <div class="card">
          <!--Card content-->
          <div class="card-body ">

            <h2 class="h2" >Shopping Cart</h2>
              {% with total_items=cart|length %}
                {% if total_items > 0 %}
                    <h5 class="text-muted"> Currently you have  {{ total_items }} item(s) in your cart </h5>
                    <div class="table-responsive">
                    <table class="table">
                      <thead>
                        <tr>
                          <th>Image</th>
                          <th>Product</th>
                          <th>Quantity</th>
                          <th>Remove</th>
                          <th>Unit price</th>
                          <th>Price</th>
                        </tr>
                      </thead>
                       <tbody>
                       {% for item in cart %}
                          {% with product=item.product %}
                            <tr>
                              <td>
                                      <a href="{{ product.get_absolute_url }}">
                                        <img width="100" height="100" src="{{ product.image.url}}">
                                      </a>
                              </td>
                              <td>{{ product.name }}</td>
                              <td>
                                  <form action="{% url 'cart:cart_add' product.id %}" method="post">
                                    {{ item.update_quantity_form.quantity }}
                                    {{ item.update_quantity_form.override }}
                                    <input type="submit" value="Update">
                                    {% csrf_token %}
                                  </form>
                              </td>
                                <td>
                                      <form action="{% url 'cart:cart_remove' product.id %}" method="post">
                                      <input type="submit" value="Remove">
                                      {% csrf_token %}
                                      </form>
                                </td>
                                <td class="num">${{ item.price }}</td>
                                <td class="num">${{ item.total_price }}</td>
                            </tr>
                            {% endwith %}
                        {% endfor %}
                       </tbody>

                    </table>
                    </div>
                    <hr class="mb-4" />
                    <div class="row">
                        <div class="col">
                            <a href="{% url 'shop:home' %}" class="btn btn-primary  btn-block">
                                Continue to shopping
                            </a>
                        </div>
                        <div class="col">
                            <a href="{% url 'orders:order_create' %}" class="btn btn-success  btn-block">
                                Continue to checkout
                            </a>
                        </div>

                    </div>

                    {% else %}
                        <h5 class="text-muted mb-4"> Your cart is empty. </h5>
                        <p>please add at least one product to the cart!</p>
                    {% endif %}
                  {% endwith %}

          </div>
        </div>
        <!--/.Card-->

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-md-4 mb-4">
        <!-- Heading -->
        <h4 class="d-flex justify-content-between align-items-center mb-3">
          <span class="text-muted">Order Summary</span>
          {% with total_items=cart|length %}
          <span class="badge badge-secondary badge-pill">{{ total_items }}</span>
          {% endwith %}
        </h4>

        <p>
          Shipping and additional costs are calculated based on the values you have entered
        </p>
        
        <!-- Cart -->
        <ul class="list-group mb-3 z-depth-1">
          
          
            <li class="list-group-item d-flex justify-content-between">
              <span>Subtotal</span>
              <strong>${{ cart.get_total_price }}</strong>
            </li>

            <li class="list-group-item d-flex justify-content-between bg-light">
              <div class="text-success">
                <h6 class="my-0">Promo code</h6>
                <small>{{ cart.coupon.code }} ({{ cart.coupon.discount }}% off)</small>
              </div>
              <span class="text-success">-${{ cart.get_discount|floatformat:2 }}</span>
            </li>

            <li class="list-group-item d-flex justify-content-between">
              <span>Total (USD)</span>
              <strong>${{ cart.get_total_price_after_discount|floatformat:2 }}</strong>
            </li>
          

        </ul>
        <!-- Cart -->
      
        <!-- Promo code -->
        <form class="card p-2" action="{% url 'coupons:apply' %}" method="post">
          <div class="input-group">
            {{ coupon_apply_form }}
            <div class="input-group-append">
              <button class="btn btn-secondary btn-md waves-effect m-0" type="button">
                Redeem
              </button>
            </div>
          </div>
          {% csrf_token %}
        </form>
        <!-- Promo code -->
      </div>
      <!--Grid column-->



      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>

{% endblock content %}
